.select-wrapper {
  display: flex;
  width: fit-content;
}

.select-wrapper.top {
  flex-direction: column;
}

.select-wrapper.left {
  flex-direction: row;
}

.select-wrapper select {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--gray-light);
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--text-primary);
  cursor: pointer;
  height: 2rem;
  font-size: var(--font-size-xs);
}

.select-wrapper label {
  white-space: nowrap;
  @media (max-width: 480px) {
    display: none;
  }
}

.select-wrapper select:disabled {
  background-color: var(--gray-light);
  color: var(--text-secondary);
  cursor: not-allowed;
}

.select-wrapper select:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 0 2px var(--accent-dark);
}
