---
import { SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <SocialLinks />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: hsl(227, 20%, 11%);
    box-shadow: var(--container-shadow);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  h2 {
    margin: 0;
    font-size: clamp(1em, 2.5vw, 1.2em);
    color: var(--text-primary);
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    color: var(--text-primary);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    max-width: 960px;
    margin: 0 auto;
  }
  .internal-links {
    display: flex;
    gap: 1em;
  }
  .theme-toggle {
    display: flex;
    align-items: center;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    header {
      padding: 0 0.5em;
    }
    nav {
      padding: 0.75em;
    }
    .social-links {
      display: none;
    }
  }
</style>
