.slider-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 1rem;
}

.slider-wrapper {
  display: flex;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
}

.slider-track {
  background-color: hsl(var(--gray));
  position: relative;
  flex-grow: 1;
  height: 4px;
  border-radius: 2px;
  border: none;
}

.slider-range {
  position: absolute;
  background-color: var(--accent);
  height: 100%;
  border-radius: 2px;
}

.slider-thumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--accent);
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.slider-thumb:hover {
  background-color: var(--accent-dark);
}

.slider:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slider-value {
  min-width: 45px;
  color: var(--text-primary);
  font-weight: 800;
}

.slider-suffix {
  margin-left: 2px;
}

/* Firefox styles */
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--accent);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
  border: none;
}

.slider::-moz-range-thumb:hover {
  background: var(--accent-dark);
}

.slider::-moz-range-progress {
  background: var(--accent);
  height: 4px;
  border-radius: 2px;
}

.slider::-moz-range-track {
  background: hsl(var(--gray));
  height: 4px;
  border-radius: 2px;
}
