.slider-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.slider-wrapper {
  display: flex;
}

.slider {
  flex: 1;
  height: 4px;
  background: hsl(var(--gray));
  border-radius: 2px;
  appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--accent);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.slider::-webkit-slider-thumb:hover {
  background: var(--accent-dark);
}

.slider:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slider-value {
  min-width: 45px;
  color: var(--text-primary);
  font-weight: 800;
}

/* Firefox styles */
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--accent);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
  border: none;
}

.slider::-moz-range-thumb:hover {
  background: var(--accent-dark);
}

.slider::-moz-range-progress {
  background: var(--accent);
  height: 4px;
  border-radius: 2px;
}

.slider::-moz-range-track {
  background: hsl(var(--gray));
  height: 4px;
  border-radius: 2px;
}
